<section id="search" ng-controller="SearchController">
	<div class="title">Search</div>
	<hr>
	<div id="search-results">
		<%= form_tag nil, id: "search-form" do %>
			<%= text_field_tag :search_name, nil, placeholder: "Item Search", "ng-model" => "search" %>
		<% end %>
		<div item-result ng-repeat="item in items track by $index"></div>
	</div>
</section>

<section id="content" ng-controller="NoteController">
	<div ng-show="item == null" id="recent-notes">
		<div class="title">Recently Added Prices</div>
		<hr>
		<div recent-note ng-repeat="note in recentNotes"></div>
	</div>
	<div ng-show="item != null" id="item-notes">
		<div id="item-notes-title">
			<button id="favorite-button" class="action-button" ng-click="toggleFavorite()" tabindex="-1">
				<span ng-show="favorite">Remove Favorite</span>
				<span ng-show="!favorite">Add Favorite</span>
			</button>
			<img ng-repeat="item in (item ? [item] : null)" ng-src="images/items/{{item.i}}.png" class="item-image"><span class="rarity-{{item.r}} name">{{item.n}}</span>
		</div>
		<hr>
		<div id="note-columns">
			<div id="normal-quality-column">
				<div class="subtitle">
					<div class="price"><span class="gil" ng-show="price">{{price}}<em>G</em></span></div>
					<span class="name">Normal Quality</span>
				</div>
				<hr>
				<%= form_tag nil, id: "add-price-form" do %>
					<%= text_field_tag "price", nil, placeholder: "Add NQ Price", "ng-Pattern" => "/\d*/" %>
				<% end %>
				<div note data-delete="true" ng-repeat="note in notes | filter:{ hq: false } | orderBy:'id':'reverse' | limitTo:'25'"></div>
				<div ng-show="(notes | filter:{ hq: false}).length == 0" class="empty-prices-message">
					No <strong>Normal Quality</strong> Prices Found
				</div>
			</div>
			<div id="high-quality-column">
				<div class="subtitle">
					<div class="price"><span class="gil" ng-show="hqprice"><img src='images/hq.png'>{{hqprice}}<em>G</em></span></div>
					<span class="name">High Quality</span>
				</div>
				<hr>
				<%= form_tag nil, id: "add-hqprice-form" do %>
					<%= text_field_tag "hqprice", nil, placeholder: "Add HQ Price", "ng-Pattern" => "/\d*/" %>
				<% end %>
				<div note data-delete="true" ng-repeat="note in notes | filter:{ hq: true } | orderBy:'id':'reverse' | limitTo:'25'"></div>
				<div ng-show="(notes | filter:{ hq: true}).length == 0" class="empty-prices-message">
					No <strong>High Quality</strong> Prices Found
				</div>
			</div>
		</div>
	</div>
	<div ng-show="item == null && recentNotes.length == 0" id="empty-notes-message">
		You have no prices marked. Try searching on the left for an item and adding a price to it.
	</div>
</section>

<section id="recent" ng-controller="RecentController">
	<div class="title">Viewed</div>
	<hr>
	<div id="recent-results">
		<div recent-item ng-repeat="item in recent track by $index"></div>
		<div ng-show="recent.length < 1" id="empty-recent-message">Your recently viewed items will show up here.</div>
	</div>
</section>

<section id="favorites" ng-controller="FavoritesController">
	<div class="title">Favorites</div>
	<hr>
	<div id="favorites-results">
		<div favorite-item ng-repeat="item in favorites track by $index"></div>
		<div ng-show="favorites.length < 1" id="empty-favorites-message">Click the star on an item page to add it to this column.</div>
	</div>
</section>
